
.contact--child {
    display: flex;
    border: 1px solid black;
    .contact-child-1 {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .form-container {
        display: flex;
        border: 1px solid black;
    }
}