@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import "@varScss";

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8.5rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #27ae60;
  border-radius: 5rem;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  .nav-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: $heightNavbar;
    position: sticky;
    top: 0;
    z-index: 1000;

    .nav-contents {
      width: 100%;
      max-width: $widthContent;
      height: 100%;
    }

  }

  .app_container {
    width: 100%;
    max-width: $widthContent;
    height: 100%;
  }

  .article-container {
    width: 100%;
    max-width: $widthContent;
    height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .footer-container {
    width: 100%;
    display: flex;
    justify-content: center;

    .footer-contents {
      width: 100%;
      max-width: $widthContent;
    }

  }
}

section {
  padding: 2rem 9%;
}