.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;

    .logo {
        font-size: 2.5rem;
        font-weight: bolder;
        color: #130f40;

        i {
            padding-right: 0.5rem;
            color: #27ae60;
        }
    }

    .navbar {
        box-shadow: none !important;
        a {
            font-size: 1.7rem;
            margin: 0 1rem;
            color: #666;
        }

        a:hover {
            color: #27ae60;
        }

        .dropdown {
            .menu-button {
                background-color: #fff;
                color: #666;
                font-size: 1.7rem;
                border: none;
                box-shadow: none;
                font-weight: 400;
                text-transform: none;
                margin-top: 0;
                padding-bottom: 8px;
            }
        }
    }
    .search-item input {
        border: 1px solid black;
        border-radius: 5px;
        width: auto;
        height: 30px;
    }

    .icons {
        div {
            height: 4.5rem;
            width: 4.5rem;
            line-height: 4.5rem;
            font-size: 2rem;
            background: #f7f7f7;
            color: #130f40;
            border-radius: 0.5rem;
            margin-left: 0.3rem;
            cursor: pointer;
            text-align: center;
        }

        #menu-btn {
            display: none;
        }

        div:hover {
            color: #fff;
            background: #27ae60;
        }
    }
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}